<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221454657423-irtad8621an9l5lpsegv4jpm1l7s3ep5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221454657423-irtad8621an9l5lpsegv4jpm1l7s3ep5</string>
	<key>API_KEY</key>
	<string>AIzaSyBPOOCF6TeDiJ84oOvAWj4T1GOnWZHMv7U</string>
	<key>GCM_SENDER_ID</key>
	<string>221454657423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bombmoney.wallet</string>
	<key>PROJECT_ID</key>
	<string>bomb-money</string>
	<key>STORAGE_BUCKET</key>
	<string>bomb-money.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221454657423:ios:bd8b3ed7f4f3199f310dfa</string>
</dict>
</plist>